* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
     /* Sets the amount of space from the header to the top of the page */    
    
     .header {
    width:100%;
    padding: 20px;
    padding-bottom:5px;
    background-color:black;
    color:white;
    text-align: left;
    
    
  }
  /* Sets the font size and the layout of the first heading "James Peacock" of the page */
  .header h1 {
    margin-right:800px;
    display: inline-block;
    font-size: 30px;
  }

  /* Sets the span in the header "Peacock" to a different color just for some more pop/variation */
  .h1-span{
    color:rgb(83, 137, 236);
  }

  /* Sets the distance from the top and the right side for the navbar links.*/

  .header-nav{
    padding-top:5px;
    margin-right:100px;
    float: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 10px;
   
  }


  .header nav ul{
    list-style-type: none;
    
 }

 .header nav li{
    display:inline-block;
    margin-top:5px;
    margin-left:50px;
    font-size:20px;
 }

 .header nav a{
color:aliceblue;

 }

 body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-evenly;
    background-color: rgb(85, 85, 83);
    

 }

 .about-me{
    margin-top: 15px ;
    margin-left:15px;
    margin-right:15px;
    max-height:650px;
    line-height:30px;
    background-image:linear-gradient(to bottom right,rgb(181, 233, 230),rgba(153, 153, 241, 0.678));

 }
 
 .about-me h2{
    padding-top:15px;
    text-transform:uppercase;
    padding-bottom: 5px;
    text-align:center;
    font-weight: 100px;
    color: rgb(255, 255, 255);
    font-size: 56px;
 }

 .about-me img{
    max-height:600px;
    max-width:500px;
    position:relative;
    left:100px;
    top:-5px;
 }

 .about-me p{
    font-family:fantasy;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    max-width:700px;
    max-height:500px;
    position:relative;
    font-size:24px;
    left:700px;
    bottom:500px;
    border: 5px solid rgb(0, 0, 0);
    text-align: center;
    padding:5px;
 }

 aside{
    position:relative;
    left:1650px;
    bottom:1000px;
    

 }

 aside h3{
margin-bottom:10px;
font-size:45px;
text-transform:uppercase;

 }

 aside ul li{
    font-family:fantasy;
    text-decoration: none;
    line-height: 50px;
    font-size:25px;
    list-style: none;
    
 }

 aside li{
    margin:25px;
 }


 .my-work{
    margin-top: 15px ;
    margin-left:15px;
    margin-right:15px;
    line-height:30px;
    background-image:linear-gradient(to bottom right,rgb(181, 233, 230),rgba(153, 153, 241, 0.678));
}

.my-work h2{
text-align: center;
font-size: 50px;
padding: 15px;

}

.my-work h4{
    text-align: center;
    font-size: 35px;
    padding: 15px;

}
 figure{

 }

.card-imgs{
width:500px;
}

.card-header{
   position:relative;
   margin-top:-20px;
  }

.code-card .card-header{
border-radius:8px;
transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header{
   box-shadow: inset 0px 0px 8px rgb(181, 233, 230), 0 0 15px rgb(83, 137, 236);
}





@media only screen and (max-width:992px) {
 
}
@media screen and (max-width:768px) {


}



@media screen and (max-width:530px) {


}



@media screen and (max-width:480px) {


}
   

 